.card {
  min-width: 16rem;
  max-height: 14rem;
  background-color: whitesmoke;
  margin: 2rem;
  height: auto;
  flex-flow: column wrap;
}

.card-expanded {
  height: auto;
  min-width: 33.9rem;
  background-color: lightgoldenrodyellow;
}
.card-deck {
  margin: 0;
  align-content: flex-start;
}

.card-container {
  margin: 2rem;
}

.navbar-title {
  font-size: xx-large;
}
